*{
    color: #0F2244;
    transition: 0.05s;
    outline: none;
}

.banner{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url('../images/banner2.gif');
}

.navbar-collapse{
    padding: 20px;
    min-height: 90vh;
}

.navbar {
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
}

.logo{
    width: 40px;
}

.nav-item{
    padding: 0 10px;
}

.nav-link{
    font-size: 18px;
    color: #0F2244;
}

.socials{
    padding: 10px;
    margin-right: 10px;
}

.wrapper{
    padding: 40px 20px;
}

h2{
    font-size: 36px;
}

.about-us{
    background:#E9E8E8;
}

.about-us h5{
    color: #F97B2D;
    padding: 10px;
}

.about-cta{
    position: absolute;
    margin-top: 45px;
    right: 0;
    bottom: -10px;
}

.plus-icon, .plus-txt {
    color: white;
    height: 30px;
    padding: 10px 15px;
    background: #0F2244;
    margin-right: -1px;
}

.plus-txt{
    background:#F97B2D ;
    text-decoration: none;
}

.services h4, .blog h4{
    font-weight: bold;
}

.cta:hover{
    color: #F97B2D;
}

.blog .fa:hover {
    color: #F97B2D;
}

.services, .blog, 
.clients-reviews{
    margin-top: 80px;
}

.services article{
    height: 200px;
    background: #0F2244;
}

.service-items-wrapper{
    margin-top: -180px;
    padding: 20px;
}

.blog-items{
    padding: 20px;
}

.blog-item .cta{
    color: #F97B2D;
}

.service-items, .blog-items{
    display: grid;
    grid-gap: 20px;
}

.blog-item, .service-item, 
.clients-reviews{
    padding: 40px 20px;
    background: #E9E8E8;
}

.clients-reviews{
    padding: 40px 0;
}

.service-item .fa, a{
    color: #F97B2D;
    font-size: 14px;
    text-decoration: none;
}

.service-item p, 
.blog p, 
.about-us p{
    color: #333;
}

.clients-reviews article{
    padding: 20px;
    height: 200px;
}

.client-info{
    width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-info img{
    border-radius: 45%;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.footer{
    padding: 40px 20px;
    background: #0F2244;
    margin-bottom: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.footer-info{
    width: 350px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.contact-form{
    width: 100%;
}

.contact-form label{
    color: #898989;
    margin-top: 10px;
}

.contact-form .text-field{
    width: 100%;
    padding: 10px;
    border: none;
    color: #898989;
    background: inherit;
    border-bottom: 2px solid #898989;
}

.contact-form .submit-btn{
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
    color: #0F2244;
    border-radius: 10px;
    background: #898989;
}

.footer .socials .fa, p{
    margin: 10px;
    font-size: 14px;
    color: #898989;
}

.contact-info strong{
    color: #F97B2D;
}

.location-map{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 20px; 
    background: #F97B2D; 
  }
  
  #myBtn:hover {
    background-color: #898989; /* Add a dark-grey background on hover */
  }

@media (min-width:768px) {
    .navbar-collapse{
        min-height: auto;
    }
    .banner{
        height: 400px;
    }

    .about-us{
        width: 400px;
        margin-top: -200px;
        margin-left: 350px;
        position: relative;
    }

    .service-items-wrapper, .blog-items{
        width: 85%;
        margin: 0 auto;
    }

    .service-items, .blog-items{
        grid-row-gap: 60px;
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-items{
        grid-template-columns: repeat(2, 1fr);
    }

    .services article{
        height: 350px;
        background: #0F2244;
    }

    .services article h2{
        width: 60%;
    }

    .service-items-wrapper{
        margin-top: -320px;
    }

    .clients-reviews p{
        font-size: 20px;
        color: #0F2244;
    }

    .footer-info{
        width: 450px;
    }
}

@media(min-width:1024px){

    .logo{
        width: 55px;
    }

    .banner{
        background: url('../images/banner.jpg');
    }

    .about-us{
        width: 550px;
        margin-left: 450px;
        padding: 60px 40px;
    }

    .about-us h2{
        font-size: 54px;
    }

    .service-items-wrapper, .blog-items{
        width: 800px;
        grid-row-gap: 80px;
    }

    .services .wrapper{
        padding: 60px 100px;
    }

    .footer-info{
        width: 800px;
        grid-column-gap: 100px;
        grid-template-columns: repeat(2, 1fr);
    }

    .submit-btn:hover{background: #F97B2D;}
    .nav-link:hover{color: #F97B2D;}
    .socials .fa:hover{color: #F97B2D;}
}

@media(min-width:1366px){

    .about-us{
        width: 600px;
        margin-left: 500px;
    }

    .service-items-wrapper, .blog-items{
        width: 1200px;
    }

    .service-items{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-info{
        width: 800px;
    }
}

@media(min-width:1600px) {
    .about-us{
        width: 650px;
        margin-left: 800px;
    }
}